.swiper {
  padding: 32px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #5528FF;
}

.swiper-button-prev, .swiper-button-next {
  color: #5528FF;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  display: none;
}